body {
    font-family: Arial, Helvetica, sans-serif;
    margin: center;
    padding: center;
    text-align: center;
    background-color:#F1EEEB; 
  }
  
  header { 
    background-color: #E4DDD7;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #E4DDD7;
    padding: 10px;
    text-align: center;
    
  }

  button {
    text-decoration: double;
    background-color: #BF9C5E;
    box-shadow: inset;
    padding: 10px;
    
  }

  

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
      
  }

  text {
    color: #2D2929;
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#808080 ; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #BF9C5E; }

kilde: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp